{% extends "base.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-light p-3">
        <div class="card-body">
          <h1 class="card-title">Анализатор страниц</h1>
          <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
          <form class="p-3 rounded" action="{{ url_for('routes.urls_post') }}" method="post">
            <label for="text" class="visually-hidden">Url для проверки</label>
            <div class="d-flex">
              <input type="text" class="form-control" id="text" name="url" placeholder="https://www.example.com"
                required>
              <input type="submit" class="btn btn-primary ms-3 text-uppercase" value="Проверить">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}